[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"
termcolor = "*"

[packages]
django = "==2.2.8"
hatespeech-models = {editable = true,path = "./hatespeech-models"}
djongo = "*"
blinker = "*"
ipdb = "*"
pandas = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
fire = "*"

[requires]
python_version = "3.6"
