[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"
termcolor = "*"
ipywidgets = "*"
sklearn = "*"
contextualized-topic-models = "*"

[packages]
django = "==2.2.8"
hatespeech-models = {editable = true,path = "./hatespeech-models"}
djongo = "*"
blinker = "*"
ipdb = "*"
pandas = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
fire = "*"
nltk = "*"
spacy = "*"
gensim = "*"
pyldavis = "*"
torch = "==1.4.0"

[requires]
python_version = "3.6"
