{% extends 'base.html' %}

{% block content %}


<h1> {{article.text}} </h1>

<p> {{article.body}} </p>

<h2> Comments </h2>

<form action="label/" method="post">
<ul>

{% for comment in article.comments %}
  <li>
    <p>
    {{ forloop.counter0 }} -- {{comment.text}}
    </p>
    <input type="checkbox"/>
    <label for="toxic_{{ forloop.counter0 }}"> Tóxico
    </label>

    <input type="checkbox"/>
    <label for="mysoginistic_{{ forloop.counter0 }}"> Misógino
    </label>


    <input type="checkbox"/>
    <label for="racist_{{ forloop.counter0 }}"> Racista
    </label>

    <input type="checkbox"/>
    <label for="needs_context{{ forloop.counter0 }}"> ¿Necesita contexto?
    </label>

  </li>
{% endfor %}
</ul>
<input type="submit"/>
</form>

{% endblock %}
