{% extends 'base.html' %}

{% block content %}


<h3> Tweet  </h3>

<p> {{article.text}} </p>

<h3> Noticia </h3>

<p> {{article.body}} </p>

<h2> Etiquetado </h2>

<p>
  Marcá si un comentario te parece que:

  <ul>
    <li> Es tóxico </li>
    <li> Contiene misoginia </li>
    <li> Contiene racismo </li>
    <li> En caso de alguno de los tres casos, si necesita el contexto de la nota para que se entienda</li>
  </ul>
</p>

<h3> Comentarios </h3>

<form action="label/" method="post">
<ol>

{% for comment in article.comments %}
  <li>
    {{comment.text}}

    <div class="row">
      <div class="two columns">
        <input type="checkbox"/>
        <label for="toxic_{{ forloop.counter0 }}"> Tóxico
        </label>
      </div>

      <div class="two columns">

        <input type="checkbox"/>
        <label for="mysoginistic_{{ forloop.counter0 }}"> Misógino
        </label>
      </div>
      <div class="two columns">

        <input type="checkbox"/>
        <label for="racist_{{ forloop.counter0 }}"> Racista
        </label>
      </div>
      <div class="two columns">

        <input type="checkbox"/>
        <label for="needs_context{{ forloop.counter0 }}"> ¿Necesita contexto?
        </label>
      </div>
    </div>
  </li>
{% endfor %}
<input type="submit" class="button-primary" value="Finalizar"/>
</ol>
</form>

{% endblock %}
