{% extends 'base.html' %}
{% load static %}

{% block  head %}

<link rel="stylesheet" href="{% static 'labels/labels.css' %}"> </link>
<script src="{% static 'labels/csrf.js' %}" type="text/javascript"> </script>
<script src="{% static 'labels/controller.js' %}" type="text/javascript"> </script>
<script src="{% static 'labels/model.js' %}" type="text/javascript"> </script>


{% endblock %}


{% block content %}

<a class="button-primary button" href="{% url 'articles:show' article.slug %}"> Mostrar vista artículo </a>

<h3> Tweet  </h3>


<div class="row">
  <blockquote class="twitter-tweet"><p lang="es" dir="ltr"> {{article.text}} <a href="https://twitter.com/user/status/{{article.tweet_id}}?ref_src=twsrc%5Etfw">August 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>


<h3> Noticia </h3>

<div class="row">
  <p> {{article.body | linebreaks }} </p>
</div>

<h2> Etiquetado </h2>

<p>
  Marcá si un comentario te parece que:

  <ul>
    <li> Es tóxico </li>
    <li> Contiene misoginia </li>
    <li> Contiene racismo </li>
    <li> Si en alguno de los tres casos la respuesta es sí, si necesita el contexto de la nota</li>
  </ul>
</p>

<h3> Comentarios </h3>

<form action="label/" method="post" id="regForm">

{% for comment in comments %}
  <div class="tab" data-article-slug={{article.slug}} data-tweet-id="{{comment.tweet_id}}">
    <p>

    {{comment.text}}
    </p>
    <div class="row" >

      <div class="four columns labels" data-label="profanity">
        <p> ¿Contiene profanidad? </p>
        <label>
          <input name="profanity" type="radio" value="1"/>
          <span class="label-body" for="1"> Sí </span>
        </label>
        <label>
          <input name="profanity" type="radio" value="0"/>
          <span class="label-body" for="0"> No </span>
        </label>
      </div>


      <div class="four columns labels" data-label="hate">
        <p> ¿Contiene discurso de odio? </p>
        <label>
          <input name="hate" type="radio" value="1"/>
          <span class="label-body" for="1"> Sí </span>
        </label>
        <label>
          <input name="hate" type="radio" value="0"/>
          <span class="label-body" for="0"> No </span>
        </label>
      </div>
    </div>

    <div class="row">
      <div style="">
        <button type="button" class="next" onclick="controller.nextTweet()">Siguiente</button>
      </div>
    </div>
    <br/>
    <br/>
    <br/>

  </div>
{% endfor %}
{# <input type="submit" class="button-primary" value="Finalizar"/> #}
</form>
<script>
window.addEventListener('load', function () {
  console.log("Hay " + document.getElementsByClassName('tab').length + " tweets");

  controller = new LabelController();

  controller.showTab(); // Display the current tab
})

</script>

{% endblock %}
