{% extends 'base.html' %}

{% block content %}

<h3> Grupos disponibles </h3>

<div class="row">
  {% for group in groups %}
    <a class="button" href="{% url 'articles:index' group.name%}"> {{group.name}} </a>
  {% endfor %}
</div>

<div>
  Etiquetaste hasta el momento {{labeled_count}} noticias.
</div>

<div>
  Te faltan {{left_count}} noticias.
</div>


<ul>
{% for article in articles %}
    <li><a href="{% url 'articles:show' article.slug %}">{{article.created_at}} | @{{article.user}} -- {{ article.text }}</a></li>
{% endfor %}
</ul>
{% endblock %}
