{% extends 'base.html' %}

{% block content %}

<h3> Grupos disponibles </h3>

<div class="row">
  {% for group in groups %}
    {% if group.name == current_group.name %}
      <a class="button button-primary" href="{% url 'articles:index' group.name%}"> {{group.name}} </a>
    {% else %}
      <a class="button" href="{% url 'articles:index' group.name%}"> {{group.name}} </a>
    {% endif %}
  {% endfor %}
</div>

<h2> Grupo {{current_group.name}} </h2>

<ul>
{% for article in articles %}
    <li><a href="{% url 'articles:show' article.slug %}">{{article.created_at}} | @{{article.user}} -- {{ article.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}
