{% extends 'base.html' %}
{% load static %}
{% block  head %}

<script src="{% static 'groups/groups.js' %}" type="text/javascript"> </script>
<script src="{% static 'articles/articles.js' %}" type="text/javascript"> </script>
{% endblock %}

{% block title %}
{{article.title}}
{% endblock %}

{% block content %}

{% comment 'Saco etiquetado' %}

<div class="row">
<a class="button-primary button" href="{% url 'labels:show' article.slug %}"> Mostrar vista etiquetado </a>
</div>

{% endcomment %}
{% if group and user.is_superuser %}
<div class="row">
  <div class="">
    <a class="button" data-group-name="{{group.name}}" data-article-id="{{article.id}}" onclick="deleteFromGroup(this)">
      Borrar de {{group.name}}
    </a>
  </div>

</div>
{% endif %}

<h4> @{{article.user}} - {{article.title}}  </h4>



{% if user.is_superuser %}

<div class="row">
  <form action="{% url 'articles:show' article.slug %}" method="put" onsubmit="submitDescriptionForm(event)">
    <label for="description"> Descripción interna </label>
    <input type="text" name="description" value="{{article.description|default:''}}"/>
    <br/>
    <input type="submit"/>
  </form>

</div>

{% else %}
<div class="row">
  {{ article.description | default:''}}
</div>

{% endif %}


<p> {{article.created_at}} </p>
<p> {{article.tweet_id}} </p>

<blockquote class="twitter-tweet"><p lang="es" dir="ltr"> {{article.text}} <a href="https://twitter.com/user/status/{{article.tweet_id}}?ref_src=twsrc%5Etfw">August 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<h3> Noticia </h3>

<p> {{article.body | linebreaks }} </p>

<h2> Comentarios </h2>

<ul>
{% for comment in article.comments %}
  {% if comment.hateful_value > 0.5 %}
      <li>
        <strong>
        {{ forloop.counter0 }} ({{comment.hateful_value|floatformat:-2}}) -- {{comment.text}}
        </strong>
      </li>
  {% else %}
  <li>
    {{ forloop.counter0 }} ({{comment.hateful_value|floatformat:-2}}) -- {{comment.text}}
  </li>
  {% endif %}
{% endfor %}
</ul>

{%endblock %}
