<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ––––––––––––––––––––––––––––––––––––––––––––––––––
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'skeleton/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'skeleton/skeleton.css' %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'skeleton/favicon.png' %}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h1>Hatespeech Labelling</h1>

    <div class="row">

      <div class="three columns">
        <ul>
          <li>
            <a href="{% url 'articles:index' %}"> Ver artículos </a>
          </li>
        </ul>
      </div>

      <div class="nine columns">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
